<html>
<head>
    <title>When's My Turn?</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <script defer src="/js/main.js"></script>
<head>
<body>
    <header id="<%= game %>">
        <h1>When's My Turn in <%=game.replaceAll('_',' ')%>?</h1>
        <nav>
            <a href="/">Home</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a href="/api">API</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>Data from </span><a href="https://www.dustloop.com/w/">Dustloop</a>
        </nav>

    <span>I'm </span>
    <select id="p1">
    <% for(let character of characters) { %>
        <% character = character.split('_').join(' ') %>
        <option <% if (character === p1name) { %>selected<% } %> ><%=character%></option>
    <% } %>
    </select>
    <span> vs. </span>
    <select id="p2">
    <% for(let character of characters) { %>
        <% character = character.split('_').join(' ') %>
        <option <% if (character === p2name) { %>selected<% } %> ><%=character%></option>
    <% } %>
    </select>
    <a id="charSelect" href="<%=`/matchup/${game}/${characters[0]}/${characters[1]}`%>"><button>When's my turn?</button></a>

    </header>


    <table>
        <% for (const move of Object.keys(p2)) { %>
            <% if (p2[move].onBlock != undefined) { %>
                <% const onBlock = p2[move].onBlock %>
                <% const reversals = [] %>
                <% let punishes = [] %>
                <% const filters = ['air', 'aerial', '(2)', 'j.'] %>
                <% const p1moves = Object.keys(p1).filter(e => !filters.some(f => e.toLowerCase().includes(f))) %>
                <% for (const punish of p1moves) { %>
                    <% if ((onBlock + p1[punish].startup) === 0) { %>
                        <% reversals.push(punish) %>
                    <% } else if ((onBlock + p1[punish].startup) <= 0) { %>
                        <% punishes.push(punish) %>
                    <% } %>

                    <% if ((punishes.length + reversals.length) === p1moves.length) { %>
                        <% punishes = ['anything'] %>
                    <% } %>
                <% } %>

                <% if (punishes.length) { %>
                    <% if (reversals.length) { %>
                        <p>If you block <%= move %> : you can reversal <%= String(reversals) %> to punish<br>or punish with <%= String(punishes) %></p>
                    <% } else { %>
                        <p>If you block <%= move %> : you can punish with <%= String(punishes) %></p>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
    </table>

</body>
</html>
